body{
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB
}

.section1{
    display: flex;
    max-height: 35%;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
}

.header-logo{
    font-size: 24px;
    color:  #F9FAF8;
    font-weight: bold;
}

.content{
    display: flex;
    align-self: center;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-text{
    display: flex;
    margin-left: 0;
    margin-right: auto;
    flex-direction: column;
    align-self: stretch;
}

.hero-text{
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    max-width: 450px;
    align-self: flex-start;
}

.hero-secondary-text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
}

.sign-up{
    display: flex;
    align-self: flex-start;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    color: #F9FAF8;
    margin-top: 8px;
    padding: 4px 24px;
    font-weight: bold;
}

img{
    max-height: 225px;
    max-width: 1000px;
}

.section2{
    display: flex;
    width: 100%;
    max-height: 45%;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: center;
}

.information-header{
    display: flex;
    width: 100%;
    margin: 24px 0px;
    align-self: flex-start;
    font-size: 48px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
}

.image-container{
    display: flex;
    gap: 52px;
    text-align: center;
    margin-bottom: 50px;
}

.info > img{
    border: 4px solid #1F2937;
}

.section3{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-shrink: 0;
    
}

.section3 > .text{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    align-self: center;
}

.quote-text{
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author{
    font-size: 20px;
    margin-right: 16px;
    margin-left: auto;
}

.section4{
    display: flex;
    width: 100%;
    height: 25%;
    flex-shrink: 0;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}

.section4 > .content{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 48px;
    border-radius: 16px;
    margin: 0;
    width: 60%;
}

.call-to-action-hero{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-to-action-secondary{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up2{
    display: flex;
    margin: 0;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    margin-right: 32px;
}

.footer{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #1F2937;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}

.footer > .text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin: 24px auto;
}